<p style="position: absolute; right: 100px;top: 60px;">Time Left :<b> {{format-time this.displayHours}} : {{format-time
        this.displayMinutes}} : {{format-time this.displaySeconds}}</b> </p>

{{yield}}