{{page-title "QuizApp"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!--
<WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<h1 class="qz-heading"> Quiz App </h1>

{{outlet}}